*
{
 background-color:#ddd;
}

header h1
{
  text-align:center;
  color:  white;
  background: linear-gradient(40deg,rgb(15, 15, 218),black);
  margin: 0px 300px;
  margin-top: 100px;
  border-radius:9px;
}

.div1
{
    background-color:#ddd ;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 260px;
    margin-right: 260px;
    border: 1px black solid;
    border-radius: 17px;
}
div
{
    background:#ddd;
}
.divEP
{
    display: inline-flex ;
}

a
{
 background:  linear-gradient(40deg,rgb(15, 15, 218),black);
 color: white; 
 padding: 5px;
 display: inline-flex ;
}



